/.idea/.idea.DroneManager/.idea/.name
/AssetImplTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/DroneManager.DocsHelper/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/DroneManager.Interface/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TestAssetImpl/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/AssetImplTests/obj/Debug/net6.0/apphost.exe
/DroneManager.DocsHelper/obj/Debug/net6.0/apphost.exe
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.AssemblyInfo.cs
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.AssemblyInfoInputs.cache
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.assets.cache
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.csproj.AssemblyReference.cache
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.csproj.CopyComplete
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.csproj.CoreCompileInputs.cache
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.csproj.FileListAbsolute.txt
/AssetImplTests/obj/AssetImplTests.csproj.nuget.dgspec.json
/AssetImplTests/obj/AssetImplTests.csproj.nuget.g.props
/AssetImplTests/obj/AssetImplTests.csproj.nuget.g.targets
/AssetImplTests/bin/Debug/net6.0/AssetImplTests.deps.json
/AssetImplTests/bin/Debug/net6.0/AssetImplTests.dll
/AssetImplTests/obj/Debug/net6.0/ref/AssetImplTests.dll
/AssetImplTests/obj/Debug/net6.0/refint/AssetImplTests.dll
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.dll
/AssetImplTests/bin/Debug/net6.0/AssetImplTests.exe
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.GeneratedMSBuildEditorConfig.editorconfig
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.genruntimeconfig.cache
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.GlobalUsings.g.cs
/AssetImplTests/bin/Debug/net6.0/AssetImplTests.pdb
/AssetImplTests/obj/Debug/net6.0/AssetImplTests.pdb
/AssetImplTests/bin/Debug/net6.0/AssetImplTests.runtimeconfig.json
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.AssemblyInfo.cs
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.AssemblyInfoInputs.cache
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.assets.cache
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.csproj.AssemblyReference.cache
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.csproj.CoreCompileInputs.cache
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.csproj.FileListAbsolute.txt
/DroneManager.DocsHelper/obj/DroneManager.DocsHelper.csproj.nuget.dgspec.json
/DroneManager.DocsHelper/obj/DroneManager.DocsHelper.csproj.nuget.g.props
/DroneManager.DocsHelper/obj/DroneManager.DocsHelper.csproj.nuget.g.targets
/AssetImplTests/bin/Debug/net6.0/DroneManager.DocsHelper.deps.json
/DroneManager.DocsHelper/bin/Debug/net6.0/DroneManager.DocsHelper.deps.json
/DroneManager.Interface/bin/Debug/net6.0/DroneManager.DocsHelper.deps.json
/TestAssetImpl/bin/Debug/net6.0/DroneManager.DocsHelper.deps.json
/AssetImplTests/bin/Debug/net6.0/DroneManager.DocsHelper.dll
/DroneManager.DocsHelper/bin/Debug/net6.0/DroneManager.DocsHelper.dll
/DroneManager.DocsHelper/obj/Debug/net6.0/ref/DroneManager.DocsHelper.dll
/DroneManager.DocsHelper/obj/Debug/net6.0/refint/DroneManager.DocsHelper.dll
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.dll
/DroneManager.Interface/bin/Debug/net6.0/DroneManager.DocsHelper.dll
/TestAssetImpl/bin/Debug/net6.0/DroneManager.DocsHelper.dll
/AssetImplTests/bin/Debug/net6.0/DroneManager.DocsHelper.exe
/DroneManager.DocsHelper/bin/Debug/net6.0/DroneManager.DocsHelper.exe
/DroneManager.Interface/bin/Debug/net6.0/DroneManager.DocsHelper.exe
/TestAssetImpl/bin/Debug/net6.0/DroneManager.DocsHelper.exe
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.GeneratedMSBuildEditorConfig.editorconfig
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.genruntimeconfig.cache
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.GlobalUsings.g.cs
/AssetImplTests/bin/Debug/net6.0/DroneManager.DocsHelper.pdb
/DroneManager.DocsHelper/bin/Debug/net6.0/DroneManager.DocsHelper.pdb
/DroneManager.DocsHelper/obj/Debug/net6.0/DroneManager.DocsHelper.pdb
/DroneManager.Interface/bin/Debug/net6.0/DroneManager.DocsHelper.pdb
/TestAssetImpl/bin/Debug/net6.0/DroneManager.DocsHelper.pdb
/AssetImplTests/bin/Debug/net6.0/DroneManager.DocsHelper.runtimeconfig.json
/DroneManager.DocsHelper/bin/Debug/net6.0/DroneManager.DocsHelper.runtimeconfig.json
/DroneManager.Interface/bin/Debug/net6.0/DroneManager.DocsHelper.runtimeconfig.json
/TestAssetImpl/bin/Debug/net6.0/DroneManager.DocsHelper.runtimeconfig.json
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.AssemblyInfo.cs
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.AssemblyInfoInputs.cache
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.assets.cache
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.csproj.AssemblyReference.cache
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.csproj.CopyComplete
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.csproj.CoreCompileInputs.cache
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.csproj.FileListAbsolute.txt
/DroneManager.Interface/obj/DroneManager.Interface.csproj.nuget.dgspec.json
/DroneManager.Interface/obj/DroneManager.Interface.csproj.nuget.g.props
/DroneManager.Interface/obj/DroneManager.Interface.csproj.nuget.g.targets
/DroneManager.Interface/bin/Debug/net6.0/DroneManager.Interface.deps.json
/AssetImplTests/bin/Debug/net6.0/DroneManager.Interface.dll
/DroneManager.Interface/bin/Debug/net6.0/DroneManager.Interface.dll
/DroneManager.Interface/obj/Debug/net6.0/ref/DroneManager.Interface.dll
/DroneManager.Interface/obj/Debug/net6.0/refint/DroneManager.Interface.dll
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.dll
/TestAssetImpl/bin/Debug/net6.0/DroneManager.Interface.dll
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.GeneratedMSBuildEditorConfig.editorconfig
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.GlobalUsings.g.cs
/AssetImplTests/bin/Debug/net6.0/DroneManager.Interface.pdb
/DroneManager.Interface/bin/Debug/net6.0/DroneManager.Interface.pdb
/DroneManager.Interface/obj/Debug/net6.0/DroneManager.Interface.pdb
/TestAssetImpl/bin/Debug/net6.0/DroneManager.Interface.pdb
/.idea/.idea.DroneManager/.idea/indexLayout.xml
/AssetImplTests/obj/project.assets.json
/DroneManager.DocsHelper/obj/project.assets.json
/DroneManager.Interface/obj/project.assets.json
/TestAssetImpl/obj/project.assets.json
/AssetImplTests/obj/project.nuget.cache
/DroneManager.DocsHelper/obj/project.nuget.cache
/DroneManager.Interface/obj/project.nuget.cache
/TestAssetImpl/obj/project.nuget.cache
/AssetImplTests/obj/project.packagespec.json
/DroneManager.DocsHelper/obj/project.packagespec.json
/DroneManager.Interface/obj/project.packagespec.json
/TestAssetImpl/obj/project.packagespec.json
/.idea/.idea.DroneManager/.idea/projectSettingsUpdater.xml
/AssetImplTests/obj/rider.project.restore.info
/DroneManager.DocsHelper/obj/rider.project.restore.info
/DroneManager.Interface/obj/rider.project.restore.info
/TestAssetImpl/obj/rider.project.restore.info
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.AssemblyInfo.cs
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.AssemblyInfoInputs.cache
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.assets.cache
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.csproj.AssemblyReference.cache
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.csproj.CopyComplete
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.csproj.CoreCompileInputs.cache
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.csproj.FileListAbsolute.txt
/TestAssetImpl/obj/TestAssetImpl.csproj.nuget.dgspec.json
/TestAssetImpl/obj/TestAssetImpl.csproj.nuget.g.props
/TestAssetImpl/obj/TestAssetImpl.csproj.nuget.g.targets
/TestAssetImpl/bin/Debug/net6.0/TestAssetImpl.deps.json
/AssetImplTests/bin/Debug/net6.0/TestAssetImpl.dll
/TestAssetImpl/bin/Debug/net6.0/TestAssetImpl.dll
/TestAssetImpl/obj/Debug/net6.0/ref/TestAssetImpl.dll
/TestAssetImpl/obj/Debug/net6.0/refint/TestAssetImpl.dll
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.dll
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.GeneratedMSBuildEditorConfig.editorconfig
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.GlobalUsings.g.cs
/AssetImplTests/bin/Debug/net6.0/TestAssetImpl.pdb
/TestAssetImpl/bin/Debug/net6.0/TestAssetImpl.pdb
/TestAssetImpl/obj/Debug/net6.0/TestAssetImpl.pdb
/.idea/.idea.DroneManager/.idea/vcs.xml
/.idea/.idea.DroneManager/.idea/workspace.xml
